/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    src: url('../fonts/Montserrat-Regular.woff') format('woff');
    /*src: local(''),*/
    /*url('../../Cld/fonts/Montserrat-Regular.woff2') format('woff2'), url('../../Cld/fonts/Montserrat-Regular.woff') format('woff');*/
}

/* montserrat-600 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
    src: url('../fonts/Montserrat-SemiBold.woff') format('woff');
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2');
    src: url('../fonts/Montserrat-Bold.woff') format('woff');
}

/* montserrat-800 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2');
    src: url('../fonts/Montserrat-ExtraBold.woff') format('woff');
}

/*Common*/
* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    text-align: center;
    max-width: 280px;
    padding: 25px 39px;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: var(--white-color);
    border: 0 solid transparent;
    border-radius: 16px;
    background-color: var(--default-color);
    cursor: pointer;
    outline: none;
    transition-property: color, border-bottom-color, border-left-color, border-right-color, border-top-color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.btn:hover {
    background-color: var(--hover-color);
}

.btn:focus {
    background-color: var(--focus-color);
}

.btn:active {
    background-color: var(--active-color);
}

:root {
    --default-color: #FF9900;
    --hover-color: #FFB84D;
    --focus-color: #FFB84D;
    --active-color: #E1670E;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --light-gray-color: #CACACA;
    --dark-gray-color: #666666;
}

/*Header*/
.header {
    width: 100%;
    border: 0 solid transparent;
    border-radius: 0 0 32px 32px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__burger {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__logo:focus {
    outline: 2px solid var(--default-color);
}

.header__inner {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    align-items: center;
}

.header-list__item:not(:last-child) {
    margin-right: 85px;
}

.header-list__item:last-child {
    margin-right: 259px;
}

.header-list__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    border-bottom: 2px solid transparent;
    outline: none;
    color: var(--black-color);
    transition-property: color, border-bottom-color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.header-list__link:hover {
    border-bottom-color: var(--hover-color);
}

.header-list__link:focus {
    outline: 2px solid var(--focus-color);
    border-color: transparent;
}

.header-list__link:active {
    outline: none;
    color: var(--active-color);
    border-bottom-color: var(--active-color);
}

.menu-close {
    background-color: transparent;
    border: none;
    display: none;
}

.header__search {
    width: 26px;
    height: 26px;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

.header__search:focus {
    outline: 2px solid var(--default-color);
}

.search__svg svg rect {
    transition: fill .1s ease;
    fill: var(--black-color);
}

.search__svg svg {
    transition: stroke .1s ease;
    stroke: var(--black-color);
}

.search__svg:hover svg rect {
    fill: var(--default-color);
}

.search__svg:hover svg {
    stroke: var(--default-color);
}

/*Hero*/
.section-hero {
    height: 620px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-hero__container {
    height: 100%;
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 32px;
    padding: 100px 0 100px 80px;
}

.swiper-pagination-bullet-active {
    background-color: var(--white-color);
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 27px !important;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px !important;
}

span.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: var(--white-color);
}

.section-hero__content {
    max-width: 840px;
}

.section-hero__title {
    margin: 0;
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    color: var(--white-color);
}

.section-hero__description {
    margin-top: 24px;
    margin-bottom: 90px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--white-color);
}

.section-hero__link:focus {
    outline: none;
}

/*Info*/
.section-info {
    padding-bottom: 100px;
}

.section-info__heading {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: var(--black-color);
}

.section-info__text {
    max-width: 1235px;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--black-color);
}

.info-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-content__left {
    min-height: 622px;
    display: flex;
    align-items: flex-end;
    max-width: 868px;
    margin-right: 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
}

.item-info__inner {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    border: 0 solid black;
    border-radius: 32px;
    background: rgba(0, 0, 0, 0.5);
}

.item-info__text {
    margin-right: 160px;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: var(--white-color);
}

.item-info__btn {
    padding: 17px 35px;
    border: 3px solid var(--default-color);
    border-radius: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--white-color);
    background-color: transparent;
}

.item-info__btn:hover,
.item-info__btn:focus {
    background-color: var(--default-color);
}

.item-info__btn:active {
    border-color: var(--active-color);
    background-color: var(--active-color);
}

.info-content__right {
    max-width: 870px;
    display: flex;
    flex-direction: column;
}

.list-info__item-info {
    border-radius: 32px;
    border: 1px solid var(--light-gray-color);
}

.list-info__item-info:not(:last-child) {
    margin-bottom: 32px;
}

.item-info__material {
    display: flex;
    align-items: center;
    padding: 64px 118px 64px 58px;
}

.item-info__picture {
    margin-right: 50px;
    max-width: 190px;
}

.item-info__heading {
    width: 452px;
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--black-color);
}

.item-info__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--black-color);
}

.picture__circle2 {
    margin-right: -75px;
    margin-top: 37px;
}

/*Work*/
.section-work {
    padding-bottom: 100px;
}

.section-work__heading {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: var(--black-color);
}

.section-work__work-list {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

.work-list__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.work-list__item:not(:last-child) {
    margin-right: 85px;
}

.work-list__item:nth-child(2),
.work-list__item:nth-child(3) {
    margin-right: 86px;
}

.work-list__step {
    padding: 0;
    border: 0 solid transparent;
    background-color: transparent;
    color: var(--black-color);
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.work-list__step:focus {
    outline: 2px solid var(--focus-color);
}

.work-list__step--default {
    color: var(--active-color);
}

.work-list__step:hover {
    color: var(--hover-color);
}

.work-list__step:active {
    outline: none;
    color: var(--active-color);
}

.section-work__body {
    display: flex;
    justify-content: space-between;
}

.tab-content {
    display: none;
}

.tab-content--active {
    display: flex;
}

.left-body {
    display: flex;
    flex-direction: column;
    width: 55%;
    min-height: 470px;
}

.left-body__name {
    margin-top: 0;
    margin-bottom: 7px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: var(--black-color);
}

.left-body__description {
    max-width: 758px;
    margin-bottom: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--black-color);
}

.left-body__btn {
    font-size: 16px;
    line-height: 20px;
}

.left-body__btn_1 {
    width: 175px;
    padding: 20px 38px;
    margin-right: 27px;
    font-weight: 700;
}

.left-body__btn_2 {
    width: 148px;
    padding: 18px 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--black-color);
    border: 2px solid var(--black-color);
    background-color: transparent;
}

.left-body__btn_2:hover,
.left-body__btn_2:focus {
    color: var(--white-color);
    border-color: var(--dark-gray-color);
    background-color: var(--dark-gray-color);
}

.left-body__btn_2:active {
    border-color: var(--black-color);
    background-color: var(--black-color);
}

.right-body {
    width: 53%;
}

.right-body__image {
    margin-top: 10px;
    width: 100%;
    object-fit: cover;
}

/*Questions*/
.section-questions {
    padding-bottom: 100px;
}

.section-questions__heading {
    margin-top: 0;
    margin-bottom: 33px;
    padding-top: 12px;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: var(--black-color);
}

.ui-widget {
    font-family: inherit !important;
}

.section-questions__accordion {
    font-family: inherit !important;
}

.section-questions__wrapper {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    position: relative !important;
    margin: 0 !important;
    padding: 27px 0 !important;
    border: 1px solid var(--light-gray-color) !important;
    border-left: transparent !important;
    border-right: transparent !important;
    background: transparent !important;
    outline: none !important;
    transition-property: color, border-bottom-color, border-top-color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.section-questions__title {
    margin: 0;
    font-weight: 700 !important;
    font-size: 24px !important;
    line-height: 32px !important;
    color: var(--black-color) !important;
    transition: color .3s ease;
}

.ui-state-active {
    border-bottom: transparent !important;
}

.ui-state-active .questions-list__icon {
    transform: rotate(45deg);
}

.section-questions__content {
    width: 56% !important;
    padding: 0 !important;
    border: none !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 32px !important;
    color: var(--black-color) !important;
}

.section-questions__description {
    margin-bottom: 40px;
}

.section-questions__wrapper:hover,
.section-questions__wrapper:focus {
    border-color: var(--hover-color) !important;
}

.section-questions__wrapper:hover .section-questions__title,
.section-questions__wrapper:focus .section-questions__title {
    color: var(--default-color) !important;
}

.questions-list__svg {
    min-width: 50px;
    min-height: 50px;
}

.questions-list__svg ellipse {
    transition: fill .3s ease;
}

.section-questions__wrapper:hover ellipse,
.section-questions__wrapper:focus ellipse {
    fill: var(--default-color);
}

.questions-list__svg path {
    transition: fill .3s ease;
}

.section-questions__wrapper:hover path,
.section-questions__wrapper:focus path {
    fill: var(--white-color);
}

/*Footer*/
.footer {
    color: var(--light-gray-color);
    background-color: var(--black-color)
}

.footer__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px 15px;
}

.footer__left {
    width: 20.5%;
}

.footer__link:focus .footer__image {
    outline: 3px solid var(--default-color);
}

.footer__nav {
    margin-top: 20px;
    margin-bottom: 90px;
}

.nav__item-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    transition: color .3s ease;
}

.nav__item-link:hover {
    color: var(--default-color);
}

.nav__item-link:focus {
    border-bottom: none;
    outline: 2px solid var(--default-color);
}

.nav__item-link:active {
    outline: none;
    color: var(--active-color);
}

.footer__icons {
    display: flex;
    align-items: center;
}

.icon-link {
    min-width: 60px;
    min-height: 60px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-link:not(:last-child) {
    margin-right: 25px;
}

.classmates-svg path {
    transition: fill .3s ease;
}

.classmates-svg:hover path {
    outline: none;
    fill: var(--default-color);
}

.classmates-svg:active path {
    outline: none;
    fill: var(--active-color);
}

.icon-link:focus {
    outline: 2px solid var(--default-color);
}

.vk-svg path {
    transition: fill .3s ease;
}

.vk-svg:hover path {
    fill: var(--default-color);
}

.vk-svg:active path {
    fill: var(--active-color);
}

.vk-link:focus {
    outline: 2px solid var(--default-color);
}

.footer__title {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
}

.form {
    max-width: 570px;
    display: flex;
    flex-direction: column;
}

.form__label {
    display: flex;
    align-items: center;
}

.input {
    width: 100%;
    padding: 14px 24px;
    border: 0 solid transparent;
    border-radius: 16px;
    background: #414141;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--white-color);
    transition: background-color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.input::placeholder {
    color: var(--light-gray-color);
}

.input:hover,
.input:focus,
.input:active {
    background-color: var(--dark-gray-color);
}

.input:focus {
    outline: none;
}

.form__input1 {
    margin-bottom: 25px;
}

.form__input2 {
    margin-bottom: 29px;
}

.form__input3 {
    resize: none;
    min-height: 150px;
    padding: 14px 24px;
    margin-bottom: 25px;
}

.submit-group {
    display: flex;
    align-content: center;
}

.footer__btn {
    width: 269px;
    margin-right: 23px;
    padding: 19px 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

#check {
    position: absolute;
    opacity: 0;
    /*width: 13px;*/
    /*height: 13px;*/
    /*margin-right: 4px;*/
    /*background-color: var(--black-color);*/
}

#check:checked + .form__checkbox-title:after {
    opacity: 1;
}

.form__checkbox-title {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    padding-left: 17px;
}

.form__checkbox-title:before {
    content: "";
    position: absolute;
    left: 0;
    width: 12px;
    height: 12px;
    border: 1px solid var(--light-gray-color);
    border-radius: 2px;
}

.form__checkbox-title:after {
    content: "";
    position: absolute;
    left: 1px;
    width: 10px;
    height: 8px;
    opacity: 0;
    background-image: url('../img/check.svg');
    background-repeat: no-repeat;
    background-position: center center;
    transition: opacity .3s ease-in-out;
}

.footer__description {
    padding-top: 88px;
    max-width: 363px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

@media (max-width: 1800px) {
    .info-content {
        flex-direction: column;
    }

    .info-content__left {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 32px;
        border-radius: 32px
    }

    .info-content__right {
        max-width: 100%;
    }
}

@media (max-width: 1300px) {
    .container {
        padding: 0 50px;
    }

    .header__burger {
        display: block;
        width: 30px;
        height: 23px;
        position: relative;
    }

    .burger__line {
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 3px;
        right: 0;
        background-color: var(--black-color);
        transition: width .3s ease;
    }

    .burger__line:first-child {
        top: 0;
    }

    .burger__line:nth-child(2) {
        top: 45%;
    }

    .burger__line:last-child {
        bottom: 0;
    }

    .header__burger:focus {
        outline: 2px solid var(--default-color);
    }

    .header__burger:active .burger__line {
        background-color: var(--active-color);
    }

    .header__burger:active .burger__line:nth-child(2) {
        top: 45%;
        width: 25px;
    }

    .header__burger:active .burger__line:last-child {
        width: 18px;
    }

    .logo__img {
        width: 150px;
    }

    .header__nav {
        box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 32px 32px;
        position: absolute;
        top: 0;
        left: -100vw;
        z-index: 100;
        width: 420px;
        height: 808px;
        padding: 38px 50px;
        background-color: var(--white-color);
        transition: left .3s ease;
    }

    .header__nav.header__burger-active {
        left: 0;
    }

    .header-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-list__item {
        margin-right: 0;
    }

    .header-list__item:not(:last-child) {
        margin-bottom: 60px;
    }

    .menu-close {
        display: block;
        position: relative;
        width: 23px;
        height: 23px;
        margin-bottom: 100px;
    }

    .menu-close::before,
    .menu-close::after {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: var(--black-color);
    }

    .menu-close::before {
        transform: rotate(45deg);
    }

    .menu-close::after {
        transform: rotate(-45deg);
    }

    .section-hero {
        height: 668px;
        margin-top: 40px;
        margin-bottom: 35px;
    }

    .swiper-slide {
        padding: 160px 0 0 77px;
    }

    .section-hero__title {
        font-weight: 800;
        font-size: 60px;
        line-height: 73px;
    }

    .section-hero__description {
        width: 80%;
        margin-top: 16px;
        margin-bottom: 60px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }

    .section-info__text {
        margin-bottom: 60px;
    }

    .info-content__left {
        min-height: 640px;
    }

    .item-info__material {
        padding: 64px 118px 64px 76px;
    }

    .section-info {
        padding-bottom: 80px;
    }

    .section-work {
        padding-bottom: 70px;
    }

    .section-work__work-list {
        margin-bottom: 50px;
    }

    .left-body {
        width: 59%;
    }

    .left-body__description {
        max-width: 437px;
    }

    .section-questions {
        padding-bottom: 80px;
    }

    .section-questions__wrapper {
        padding: 28px 0 !important;
    }

    .section-questions__content {
        width: 75%;
    }

    .section-questions__title {
        width: 81% !important;
        font-weight: 700 !important;
        font-size: 20px !important;
        line-height: 32px !important;
    }

    .footer__container {
        padding: 50px;
    }

    .footer__left {
        width: 27.5%;
    }

    .footer__image {
        min-width: 224px;
        min-height: 72px;
    }

    .footer__form {
        max-width: 541px;
    }

    .form__input2 {
        margin-bottom: 25px;
    }

    .form__input3 {
        margin-bottom: 29px;
    }

    .footer__btn {
        width: 241px;
        padding: 19px 38px;
    }

    .footer__right {
        display: none;
    }
}

@media (max-width: 900px) {
    .header {
        border-radius: 0 0 24px 24px;
    }

    .header__container {
        height: 69px;
    }

    .header__nav {
        height: 771px;
        padding: 22px 50px;
    }

    .section-hero {
        height: 662px;
    }

    .swiper-slide {
        border-radius: 24px;
        padding: 160px 0 0 40px;
    }

    .section-hero__title {
        font-weight: 800;
        font-size: 50px;
        line-height: 61px;
    }

    .section-hero__description {
        width: 90%;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
    }

    .section-info__text {
        margin-bottom: 55px;
    }

    .info-content__left {
        min-height: 650px;
        border-radius: 24px;
    }

    .item-info__inner {
        padding: 34px 40px;
        border-radius: 24px;
    }

    .item-info__text {
        margin-right: 47px;
    }

    .list-info__item-info {
        border-radius: 24px;
    }

    .item-info__material {
        padding: 34px 48px 34px 40px;
    }

    .item-info__picture {
        width: 113px;
        height: 99px;
        margin-right: 16px;
    }

    .section-work__work-list {
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .section-work__body {
        flex-direction: column-reverse;
    }

    .left-body,
    .right-body {
        width: 100%;
    }

    .left-body__name {
        margin-bottom: 7px;
    }

    .left-body__description {
        max-width: 100%;
        margin-bottom: 25px;
    }

    .left-body__br {
        display: none;
    }

    .right-body {
        margin-bottom: 37px;
    }

    .section-work {
        padding-bottom: 36px;
    }

    .section-questions {
        padding-bottom: 111px;
    }

    .section-questions__wrapper {
        padding: 29px 0 !important;
    }

    .section-questions__title {
        width: 86% !important;
    }

    .section-questions__content {
        width: 100% !important;
    }

    .footer__container {
        flex-direction: column-reverse;
    }

    .footer__medium {
        margin-bottom: 50px;
    }

    .footer__image {
        margin-bottom: 16px;
    }

    .footer__nav {
        display: none;
    }
}

@media (max-width: 730px) {
    .swiper-slide {
        padding: 100px 0 100px 40px;
    }

    .item-info__inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .item-info__heading {
        width: 100%
    }

    .footer__medium {
        width: 100%;
    }

    .footer__form {
        max-width: 100%;
    }
}

@media (max-width: 460px) {
    .container {
        padding: 0 15px;
    }

    .logo__img {
        width: 110px;
    }

    .header__nav {
        left: -140vw;
        width: 320px;
        height: 407px;
        padding: 23px 15px;
    }

    .menu-close {
        margin-bottom: 32px;
    }

    .header-list__item {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }

    .header-list__item:not(:last-child) {
        margin-bottom: 32px;
    }

    .section-hero {
        height: 308px;
        margin-top: 30px;
        margin-bottom: 60px;
    }

    .swiper-slide {
        border-radius: 16px;
        padding: 60px 22px;
        text-align: center;
    }

    .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 12px !important;
    }

    span.swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

    .section-hero__content {
        display: flex;
        flex-direction: column;
    }


    .section-hero__title {
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
    }

    .section-hero__description {
        width: 100%;
        margin-top: 6px;
        margin-bottom: 34px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
    }

    .section-hero__btn {
        display: flex;
        align-items: center;
        align-self: center;
        padding: 13px 28px;
        border-radius: 8px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
    }

    .section-info {
        padding-bottom: 61px;
    }

    .section-info__heading {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }

    .section-info__text {
        margin-bottom: 14px;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
    }

    .info-content__left {
        min-height: auto;
        margin-bottom: 32px;
        padding-top: 208px;
        background-size: 290px 200px;
        background-position: top;
        border-radius: 16px;
    }

    .item-info__inner {
        padding: 0;
        background: none;
    }

    .item-info__text {
        width: 100%;
        margin-bottom: 12px;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        color: var(--black-color);
    }

    .item-info__btn {
        max-width: 162px;
        padding: 10px 42px;
        border: 2px solid #FF9900;
        border-radius: 8px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: var(--default-color);
    }

    .item-info__btn:hover,
    .item-info__btn:focus {
        color: var(--white-color);
    }

    .item-info__btn:hover {
        background-color: var(--default-color);
    }

    .item-info__btn:focus {
        border-color: var(--focus-color);
        background-color: var(--focus-color);
    }

    .item-info__btn:active {
        border-color: var(--active-color);
        background-color: var(--active-color);
    }

    .list-info__item-info {
        border: none;
    }

    .item-info__material {
        align-items: flex-start;
        flex-direction: column;
        padding: 0;
    }

    .item-info__picture {
        width: 64px;
        height: 49px;
        margin-bottom: 12px;
    }

    .item-info__heading {
        margin-bottom: 4px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    .item-info__description {
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
    }

    .item-info__br {
        display: none;
    }

    .section-work {
        padding-bottom: 48px;
    }

    .section-work__heading {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }

    .section-work__work-list {
        margin-bottom: 16px;
    }

    .work-list__item {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }

    .work-list__item:not(:last-child) {
        margin-right: 0;
    }

    .right-body {
        margin-bottom: 16px;
    }

    .right-body__image {
        margin-top: 0;
    }

    .left-body__name {
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
    }

    .left-body__description {
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
    }

    .left-body__btn-group {
        display: flex;
    }

    .left-body__btn_1 {
        margin-right: 10px;
        padding: 10px 44px;
        border-radius: 8px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
    }

    .left-body__btn_2 {
        padding: 10px 30px;
        border-radius: 8px;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }

    .section-questions {
        padding-bottom: 57px;
    }

    .section-questions__heading {
        margin-bottom: 16px;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }

    .section-questions__wrapper {
        padding: 30px 0 !important;
    }

    .section-questions__title {
        width: 84% !important;
        font-weight: 500 !important;
        font-size: 14px !important;
        line-height: 24px !important;
    }

    .questions-list__svg {
        min-width: 30px;
        max-width: 30px;
        min-height: 30px;
        max-height: 30px;
    }

    .footer__container {
        padding-top: 33px;
        padding-bottom: 30px;
    }

    .footer__medium {
        margin-bottom: 16px;
        padding-bottom: 20px;
        border-bottom: 2px solid #414141;
    }

    .footer__title {
        margin-bottom: 21px;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }

    .input {
        padding: 14px 20px;
        font-size: 14px;
    }

    .form__input3 {
        margin-bottom: 21px;
    }

    .submit-group {
        flex-direction: column;
        align-items: center;
    }

    .footer__btn {
        width: 180px;
        margin-bottom: 20px;
        margin-right: 0;
        padding: 12px 28px;
        border-radius: 8px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
    }

    .footer__left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__image {
        width: 131px;
        min-width: 131px;
        height: 42px;
        min-height: 42px;
    }

    .icon-link {
        min-width: 40px;
        min-height: 40px;
    }

    .icon-link:not(:last-child) {
        margin-right: 16px;
    }

    .classmates-svg,
    .vk-svg {
        width: 40px;
        height: 40px;
    }
}